.index-slider {
  height: 65vh;
  background-image: url("../img/prensas-montequipo.jpg");
}

.main-slider {
  height: 65vh;
}

.main-slider .index-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider .index-slide h1 {
  text-align: center;
}

.main-slider .slick-list, .main-slider .slick-track {
  height: 100%;
}

.tipo-prensa {
  width: 100%;
}

.tipo-prensa .prensa-title {
  margin-top: 1em;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
}

.tipo-prensa .prensa-thumbnail {
  height: 240px;
  width: 100%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
}

.tipo-prensa .btn-more-information {
  margin: 1em 0em;
}

.clients-slider .client-image {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.clients-slider .client-image img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}
