@media (max-width: 576px) {
  .gallery {
    column-count: 1;
  }
}

@media (min-width: 576px) {
  .gallery {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .gallery {
    column-count: 4;
  }
}
