@import 'variables';
/* I N D E X
    1. General styles
      1.1 Margins and paddings
      1.2 Fonts
    2. Alignment styles
    3. Components
      3.1 Navbar
      3.2 Footer
      3.3 Buttons
      3.4 Slider
      3.5 Gallery
      3.6 Contact form
*/

/* 1. G E N E R A L  S T Y L E S */
body{
  font-family: 'Open Sans', 'sans-serif';
  font-size: 13px;
  padding-top: 50px;
  color: $dark_gray;
}
.gray-background{
  background-color: $light_gray;
}
/* 1.1 Margins and paddings */
.no-padding{
  padding: 0 0 0 0;
}
.small-padding{
  padding: 1em 0;
}
.normal-padding{
  padding: 1.5em 0;
}
.big-padding{
  padding: 3.5em 0;
}
.no-margin{
  margin: 0 0 0 0;
}
.small-top-down-margin{
  margin: 1em 0;
}


/* 1.2 Fonts */
p{
  font-size: 1em;
}
.center-text{
  text-align: center;
}
.bold-text{
  font-weight: 600;
}
.white-text{
  color: #FFF;
}
.title-line{
  width: 50px;
  border-top: 2px solid $main_color;
  margin: 1.2em auto 0 auto;
}
/* 2. A L I G N M E N T  S T Y L E S  */
.align-center{
  display: flex;
  align-items: center;
}
.justify-center{
  display: flex !important;
  justify-content: center;
}
.justify-flex-end{
  display: flex;
  justify-content: flex-end;
}
.column-direction{
  display: flex;
  flex-direction: column;
}

/* 3. C O M P O N E N T S */

/* 3.1 Navbar */
.navbar-default{
  background: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: $main_color !important;
}
.navbar-brand{
  display: flex;
  align-items: center;
  img{
    margin-right: 5px;
  }
}

/* 3.2 Footer */
.footer{
  padding: 0 1.5em;
  background-color: #353535;
  color: #fff;
  .footer-links{
    color: $white;
    text-decoration: none;
    font-weight: 300;
    margin-bottom: 0.3em;
    &:hover{
      color: $main_color;
    }
  }
  .telephone-text{
    color: $white;
    text-decoration: none;
    font-weight: normal;
    &:hover{
      text-decoration: none;
      color: $main_color;
    }
  }
}

/* 3.3 Buttons */
.btn-outline-primary{
  border-color: $main_color;
  color: $main_color;
  &:hover{
    background-color: $main_color;
    border-color: $main_color;
    color: $white;
  }
}

/* 3.4 Slider */
.slick-prev:before, .slick-next:before{
  color: $main_color;
}

/* 3.5 Gallery */
.gallery{
  .gallery-pic{
    background-color: $white;
    a{
      max-width: 100%;
      color: $dark_gray;
      text-align: center;
      &:hover, &:focus{
        color: $main_color;
        text-decoration: none;
      }
      &:visited{
        color: $dark_gray;
      }
      img{
        max-width: 100%;
      }
    }
  }
}
#swipebox-overlay{
  background: rgba(0,0,0,0.85);
}

/* 3.6 Contact Form */
.contact-form{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  input, textarea{
    margin: 5px;
    padding: 5px;
    &:focus{
      outline: none;
      box-shadow: none;
      border:2px solid $main_color;
    }
  }
  button{
    padding: 8px 20px;
    align-self: flex-end;
  }
}
